/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

body {
    /*background: white;*/
    overflow: scroll;
}

.gutenberg-blocks-hide {
    display: none !important;
}


/*******************************************
* Components
*********************************************/


/* Slider Switch Input*/

.gutenberg-blocks-switch-input input {
    display: none;
}

.gutenberg-blocks-switch-input {
    display: inline-block;
    width: 50px;
    height: 20px;
    transform: translateY(0%);
    position: relative;
}

.gutenberg-blocks-switch-input-slider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 15px;
    cursor: pointer;
    border: 2px solid transparent;
    overflow: hidden;
    transition: .4s;
    background-color: #e2e2e3;
}

.gutenberg-blocks-switch-input-slider:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 30px;
    transform: translateX(-30px);
    transition: .4s;
}

input:checked+.gutenberg-blocks-switch-input-slider:before {
    transform: translateX(30px);
    background: white;
}

input:checked+.gutenberg-blocks-switch-input-slider {
    background-color: #6d562d;
}


/*******************************************
 * Main Menu Settings Page
 *********************************************/

#gutenberg_blocks_main-menu {
    background: #f8f8f8;
    margin-left: -20px;
    padding-bottom: 40px;
}

#gutenberg_blocks_main-menu__header {
    padding: 10px;
    /*background: #fff;*/
    margin-bottom: 40px;
    box-shadow: 0px 2px 8px #e8e8e8;
}

.gutenberg_blocks_header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.gutenberg_blocks_header-container img {
    max-height: 80px;
    justify-content: flex-start;
}

.gutenberg_blocks_collection {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    margin: auto;
    height: 440px;
    width: 100%;
    max-width: 1040px;
    box-sizing: border-box;
    flex-direction: column;
    background: #fff;
    border: 1px solid #e8e8e8;
}

.gutenberg_blocks_collection__item {
    border: 1px solid lightgrey;
    padding: 15px;
    margin: 15px 0;
    max-width: 50%;
    margin: 10px;
    transition: all 0.5s ease-in-out;
    box-sizing: border-box;
}

.gutenberg_blocks_collection__item.active {
    border: 1px solid #9d6538;
}

.gutenberg_blocks_collection__item__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gutenberg_blocks_collection__item:hover {
    box-shadow: 0 0 10px lightgrey;
}

.gutenberg_blocks_collection__item__title {
    font-weight: 300;
    font-size: 16px;
}

.gutenberg_blocks_collection_filter {
    justify-content: center;
    margin-right: 20px;
}

.gutenberg_blocks_collection_filter .filter-action {
    display: inline-block;
    padding: 5px;
    margin: 0 10px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    font-size: 15px;
}

.gutenberg_blocks_collection_filter .filter-action.active {
    color: #f64646;
    border-bottom: 2px solid #f64646;
}