.mww_dashboard_row .card{
    width: 0px;
    margin-top: 50px;
    box-shadow: 0px 2px;
}

.mww_dashboard_row .card>img{
    width: 70px;
}

.mww_dashboard_row{
    display: grid;
    grid-template-columns: 0px 300px 300px 0px;
    grid-gap: 25px;
    padding: 0px;
}




@keyframes mww_loader {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.mww_loader {
    -webkit-animation: mww_loader 2s linear infinite;
    -moz-animation: mww_loader 2s linear infinite;
    -ms-animation: mww_loader 2s linear infinite;
    -o-animation: mww_loader 2s linear infinite;
    animation: mww_loader 2s linear infinite;
    vertical-align: text-top;
    color:  #ca4a1f;
}




.add-popup > svg{
    margin-top:3px;
}


.popover__title {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 24px;
    line-height: 36px;
    text-decoration: none;
    color: rgb(228, 68, 68);
    text-align: center;
    padding: 15px 0;
}

.popover__wrapper {
    position: relative;
    margin-top: 1.5rem;
    display: inline-block;
}
.popover__content {
    opacity: 0;
    visibility: hidden;
    left: -150px;
    transform: translate(0,10px);
    background-color: #FFFFFF;
    padding: 1.5rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    width: auto;
}
.popover__content:before {
    position: absolute;
    z-index: -1;
    content: '';
    right: calc(95% - 10px);
    top: -10px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #FFFFFF transparent;
    transition-duration: 0.3s;
    transition-property: transform;
}
.popover__wrapper:hover .popover__content {
    z-index: 10;
    opacity: 1;
    visibility: visible;
    transform: translate(0,-20px);
    transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
    margin-top: 30px;

}
.popover__message {
    text-align: center;
}

.popover__content > .wrap > button{
    border-radius: 25px;
}